@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

.field {
    width: 100%;
    height: 45px;
    border-radius: 4px;
    position: relative;
    background-color: rgba(255,255,255,0.3);
    transition: 0.3s all;
    bottom: 0px;
}
.field:hover {
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.field.focussed input {
    padding: 24px 16px 80px 16px;
}
.field.focussed input + label {
    top: 4px;
    opacity: 1;
    color: #28cc70;
}
.field.locked {
   pointer-events: none;
}
.field input {
    width: 100%;
    height: 56px;
    position: relative;
    padding: 0px 16px;
    border: none;
    border-radius: 4px;
    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    color: #282828;
    outline: none;
    box-shadow: 0px 4px 20px 0px transparent;
    transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
    -webkit-appearance: none;
}

.field input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}


input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  /* display: block; */
  font-size: 16px;
  padding: 10px;
  width: 100%;
  height: 100%;
}




body {
    background: linear-gradient(to right, #040563, #057cf3, #057cf3,#040563);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    margin: 30px auto;
    width: 350px;
}

h2 {
    letter-spacing: 1px;
    font-family: 'Optima';
}

h1 {
    letter-spacing: 1px;
    margin: 0;
    font-size: 50px;
}

h3 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
}

.color-IE {
    color: white;
}

.font-e {
    font-size: 50px;
}

.notes {
    color: rgb(117, 116, 116);
}

h4 {
    font-size: 13px;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

label {
    display: inline-block;
    margin: 10px 0;
}
  
.App-container {
    background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
    /* background: white; */
    /* background-color: #fff; */
    box-shadow: var(--box-shadow);
    border-radius: 9px;
    padding: 25px;
    display: absolute;
    justify-content: space-between;
    margin: 20px 0;
    flex: 1;
}

.inc-exp-container {
    background: linear-gradient(to right, #058a17a6, #d1064aa6);
    /* background-color: #fff; */
    /* box-shadow: var(--box-shadow); */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.inc-exp-container > div {
    flex: 1;
    text-align: center;
  }
  
.inc-exp-container > div:first-of-type {
    border-right: 3px solid #dedede;
}
  
.money {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 5px 0;
    text-shadow: 0px 0px 15px rgb(14, 13, 13);
}
  
.money.plus {
    color: #2ecc71;
}
  
.money.minus {
    color: #fd7465;
}


.btn {
    cursor: pointer;
    background: linear-gradient(to bottom, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%);
    /* background: linear-gradient(to bottom, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); */
    /* background: linear-gradient(to bottom, rgba(203,96,179,1) 0%,rgba(173,18,131,1) 50%,rgba(222,71,172,1) 100%); */
    /* background-color: #9c88ff; */
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
}

.btn-hv1:hover {
    box-shadow: 0px 10px 40px 10px rgba(245, 9, 68, 0.603);
}

.btn-hv2:hover {
    box-shadow: 0px 10px 40px 10px rgba(8, 255, 82, 0.603);
}
  
.btn:focus,
.delete-btn:focus {
    outline: 1;
}
  
.list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}
  
.list li {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
}

.list li.plus {
    border-right: 5px solid #2ecc71;
    background: linear-gradient(to right, #70f786, #ffffff);
}

.list li.minus {
    border-right: 5px solid #c0392b;
    background: linear-gradient(to right, #f78686, #ffffff);
}
  
.delete-btn {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 35px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(125%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}
  
.list li:hover .delete-btn {
    opacity: 1;
}
  
  
@media (max-width: 320px) {
    .container {
      width: 300px;
    }
}
  